<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hangman: Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="top-page">
      <div class="left-content">
        <img
          src="{{ url_for('static', filename='hangman' + img|string + '.png') }}"
          alt="hangman_image"
          height="70px"
        />
        <span class="stylish-text">H_ngm_n</span>
      </div>
      <a href="history.html" class="history-link">History</a>
    </div>
    <div class="content">
      <div class="left-page">
        <div class="left-text">
          <span>Type a letter</span>
        </div>
        <form id="letter-form" action="/" method="POST">
          <div class="left-buttons">
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
            <button type="submit" name="letter" value="{{ letter }}">
              {{ letter }}
            </button>
            {% endfor %}
          </div>
        </form>
      </div>
      <div class="middle-page">
        <div class="middle-text">
          <span>Word</span>
        </div>
        <img
          src="{{ url_for('static', filename='hangman' + img|string + '.png') }}"
          alt="hangman_image"
        />
        <div class="word-box">{{ current_word }}</div>
      </div>
      <div class="right-page">
        <div class="right-text">
          <span>Info</span>
        </div>
        <span>Attempts Left: {{ tries }}</span>
        <div class="right-button">
          <button>Quit</button>
        </div>
      </div>
    </div>
  </body>
</html>
