body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0 20px;
    box-sizing: border-box;
}

.left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.top-page img {
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 20px;
}

.stylish-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.history-link {
    text-decoration: none; 
    color: #007BFF;
    font-size: 18px;
}

.content {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.left-page, .middle-page, .right-page {
    flex: 1;
    margin: 5px;
    border: 1px solid #ccc;
}

.left-page {
    display: flex;
    flex-direction: column;
    background-color: #ffcccc;
}

.left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
}

.left-text > span {
    display: flex;
    justify-items: center;
    align-items: center;
    color: black;
}

.left-buttons {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.left-buttons button {
    width: 61px;
    height: 61px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.left-buttons button:disabled {
    background-color: grey;
    color: #666;
    cursor: not-allowed;
}

.middle-page {
    display: flex;
    flex-direction: column;
    background-color: #ccffcc;
}

.middle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
}

.word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
}

.right-page {
    display: flex;
    flex-direction: column;
    background-color: #ccccff;
}

.right-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
}

.right-page span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.right-button button {
    border: 2px solid red;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #f0f0f0;
}

.right-button button:hover {
    background-color: #e0e0e0;
    color: darkred;
}
